<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="org.docheinstein.stopwatch">

    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY" />

    <application
            android:testOnly="false"
            android:allowBackup="false"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">

            <meta-data android:name="com.samsung.android.cocktail.mode" android:value="edge_single_plus"/>

            <activity
                android:name=".config.EdgeConfigureActivity"
                android:label="@string/app_name" >
                <intent-filter>
                    <action android:name="android.intent.action.MAIN" />
                </intent-filter>
            </activity>


            <receiver android:name=".edge.EdgeSinglePlusReceiver">
                <intent-filter>
                    <action android:name="com.samsung.android.cocktail.v2.action.COCKTAIL_UPDATE" />
                    <action android:name="org.docheinstein.stopwatch.ACTION_START_STOPWATCH" />
                    <action android:name="org.docheinstein.stopwatch.ACTION_PAUSE_STOPWATCH" />
                    <action android:name="org.docheinstein.stopwatch.ACTION_STOP_STOPWATCH" />
                    <action android:name="org.docheinstein.stopwatch.ACTION_LAP_STOPWATCH" />
                    <action android:name="org.docheinstein.stopwatch.ACTION_RESUME_STOPWATCH" />
                    <action android:name="org.docheinstein.stopwatch.ACTION_RESET_STOPWATCH" />
                    <action android:name="org.docheinstein.stopwatch.ACTION_TAB_LAPS" />
                    <action android:name="org.docheinstein.stopwatch.ACTION_TAB_HISTORY" />
                    <action android:name="org.docheinstein.stopwatch.ACTION_CLEAR_LAPS" />
                    <action android:name="org.docheinstein.stopwatch.ACTION_CLEAR_HISTORY" />
                </intent-filter>

                <meta-data
                    android:name="com.samsung.android.cocktail.provider"
                    android:resource="@xml/single_plus_conf" />
            </receiver>

        <service
            android:name=".edge.EdgeSinglePlusLapsService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>

        <service
            android:name=".edge.EdgeSinglePlusHistoryService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>

    </application>

</manifest>