<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="org.docheinstein.edgetimer">

    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY" />

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
            <activity
                android:name=".MainActivity"
                android:label="@string/app_name" >
                <intent-filter>
                    <action android:name="android.intent.action.MAIN" />
                    <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
            </activity>

            <activity
                android:name=".EdgeConfigureActivity"
                android:label="@string/app_name" >
                <intent-filter>
                    <action android:name="android.intent.action.MAIN" />
                </intent-filter>
            </activity>

            <receiver android:name=".singleplus.CocktailSinglePlusProvider" android:exported="true">
                <intent-filter>
                    <action android:name="com.samsung.android.cocktail.v2.action.COCKTAIL_UPDATE" />
                    <action android:name="org.docheinstein.edgetimer.ACTION_START_TIMER" />
                    <action android:name="org.docheinstein.edgetimer.ACTION_PAUSE_TIMER" />
                    <action android:name="org.docheinstein.edgetimer.ACTION_RESUME_TIMER" />
                    <action android:name="org.docheinstein.edgetimer.ACTION_RESET_TIMER" />
                </intent-filter>

                <meta-data
                    android:name="com.samsung.android.cocktail.provider"
                    android:resource="@xml/single_plus_conf" />
            </receiver>

    </application>

</manifest>